/* _content/PurchaseOrderApp/Views/Shared/_Layout.cshtml.rz.scp.css */
.btn-primary[b-fqclxvp6b4] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fqclxvp6b4], .nav-pills .show > .nav-link[b-fqclxvp6b4] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-fqclxvp6b4] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-fqclxvp6b4] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fqclxvp6b4] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fqclxvp6b4] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-fqclxvp6b4] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
