@{
    ViewData["Title"] = "Purchase Order List";
}
<body>
<div class="row new-style">
    <div class="col-md-8">
        <h1>Welcome to the Purhase Order App.</h1>
        <br />
        <h4>
            Purchase Order App is an
            ASP.NET Core MVC web application that can be used to create, edit and submit purchase orders.
        </h4>
    </div>
</div>
</body>